<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <title>Kontakt oss - Oddendesiign</title>
</head>
<body>
    <h1>Kontakt oss</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <p>{{ form.full_name.label_tag }} {{ form.full_name }}</p>
        <p>{{ form.email.label_tag }} {{ form.email }}</p>
        <p>{{ form.subject.label_tag }} {{ form.subject }}</p>
        <p>{{ form.message.label_tag }} {{ form.message }}</p>

        <button type="submit">Send</button>
    </form>
</body>
</html>
