{% load static %}
<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <title>Ofte stilte spørsmål - Oddendesiign</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="{% static 'css/faq.css' %}">
</head>
<body>

<section>
    <h1 class="title">Ofte stilte spørsmål</h1>

    <div class="questions-container">
        {% for faq in faqs %}
        <div class="question">
            <button type="button">
                <span>{{ faq.question }}</span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <p>{{ faq.answer }}</p>
        </div>
        {% endfor %}
    </div>
</section>

<script src="{% static 'js/faq.js' %}"></script>
</body>
</html>
